body {
    color: rgb(84, 80, 80);
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;

}
.play{
    flex-direction: row;
}
.option{
    width: 180px;
}


.button {
    width: 50px;
    height: 30px;
    background-color: rgb(87, 220, 195);
    color: white;
    border-radius: 5px;
    
}
.resultMsg {
    width: 150px;
    height: 30px;
    background-color: rgb(87, 220, 195);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    


}